body, html {
  width: 100%;
  height: 100%;
}

text {
  cursor: pointer;
  font-size: 40px;
}

.active {
  fill: red;
  width: 500px;
  border: 1px solid red;

}

.rect {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.wheel {
  fill: orange;
}
